/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

#wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.white{
    color: white;
}

.gray{
    color: #707070;
}

.padding{
    padding: 0 10px;
}

/* Main */

main{
    height: calc(100% - 90px);


}
 /* NAV */
main .main_nav{
    position: relative;
    display: flex;
    height: 100%;
    width: 230px;
    flex-direction: column;
    background-color: black;
    font-size: large;
    float: left;
    overflow: hidden;
}

main .main_nav a{
    text-decoration: none;
    color: #707070;
    padding: 10px;
}

main .main_nav a span{
    padding-left: 5px;
}

main .main_nav .logo{
    width: 70%;
    padding: 10px;
}

main .main_nav ul{
    color: #707070;
    padding: 10px;
    overflow: scroll;
}

main .main_nav ul li {
    padding: 5px 0px;
}

main .main_nav li i{
    width: 30px;
    height: 30px;
    background-color: #707070;
    text-align: center;
    color: black;
    vertical-align: middle;
    line-height: 30px;

}

.j_doe{
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: #707070;
    background-color: black;
    width: 100%;
}
 
.j_doe #j_user{
    padding-top: 5px;
}
.j_doe #j_user #user{
    background-color: #707070;
    color: white;
    border-radius: 50%;
    margin-right: 5px;
}

.j_doe #j_user #user i{
    padding-left: 3px;
}

/* Footer */

footer{
    height: 90px;
    background-color: #282828;
}

footer #player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

footer #player .p1{
    display: flex;
}

footer #player .p1 .desc{
    margin-top: 10px;
    padding-left: 2px;
}

footer #player .p1 .icon{
    float: right; 
    margin-top: 10px;
}

footer #player .p1 , footer #player .p3{
    padding: 10px;
    height: 100%;
    width: 230px;
}

footer #player .p2{
    padding: 10px;
    width: 40%;
    height: 100%;
    text-align: center;
    color: white;
}

footer #player .p2 i{
    padding: 10px;
    font-size: large;
}

footer .line{
    display: flex;
    justify-content: space-between;
}

footer .line .gray_line {
    background-color:#707070 ;
    height: 5px;
    width: 80%;
    border-radius: 15px;
    margin-top: 7px;
}

footer .line .gray_line .white_line{
    width: 25%;
    height: 5px;
    background-color: white;
    border-radius: 15px;
}

footer #player .p3 .position{
    margin-top: 15px;
}

footer #player .p3 i{
    padding: 5px;
    float: left;
}

footer #player .p3 .gray_line{ 
    float: left;
    display: block;
    background-color:#707070 ;
    height: 5px;
    width: 100px;             
    border-radius: 15px;
    margin-top: 10px;
}

footer #player .p3 .white_line{
    width: 25%;
    height: 5px;
    background-color: white;
    border-radius: 15px;
}

/* content */


#content{
    background-color: #141922;
    float: left;
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: scroll;

}

#content .nav_body{
    text-align: center;
    height: 39px;
    display: block;
}

#content .nav_body ul{
    margin-top: 10px;
}

#content .nav_body ul li{
    color: #707070;
    display: inline;
    padding: 10px;
}

#content img{
    width: 100%;
    height: 100%;
} 
/* .recently */


#content .recently {
    color: white;
    display: inline-block;
}


#content .recently h2{
    padding: 10px;
}

#content .recently .img{
    /* display: inline; */
    flex-shrink: 0;
    text-align: center;
    width: calc(100% / 6 - 15px) ;
    margin-right: 15px;
    cursor: pointer;

}

#content .recently .all_img{
    display: flex; 
    margin: 30px 0;
    list-style: none;
    font-size: 13px;   
   
}
/* created_for_you */
#content .created_for_you {
    width: 100%;
}

#content .created_for_you .all_img{
    display: flex;
    margin: 30px 0;
    list-style: none;
    font-size: 13px;
    
    
}

#content .created_for_you .img{
    flex-shrink: 0;
    text-align: center;
    width: calc(100% / 6 - 15px) ;
    margin-right: 15px;
    cursor: pointer;
}

/* artists */

#content .artist {
    width: 100%;
}

#content .artist .all_img{
    display: flex;
    margin: 30px 0;
    list-style: none;
    font-size: 13px;
    
    
}

#content .artist .img{
    flex-shrink: 0;
    text-align: center;
    width: calc(100% / 6 - 15px) ;
    margin-right: 15px;
    cursor: pointer;

}

#content .artist .img img{
    border-radius: 50%;
}
/* Debug */

.debug main{
    background-color: skyblue;
}

.debug footer{
    background-color: lightGreen;
}

.debug .main_nav{
    background-color: lightpink;
} 

#small_logo{
    display: none;
}

#content .container_hover:hover img{
    opacity: 0.3;
}

#content .container_hover:hover i{
    opacity: 1;
    font-size: 50px;
}

.container_hover{
    position: relative;
    background-color: black;

}

.container_hover i{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

/* MediaQuery */

@media screen and (max-width: 1100px) {
    #content .img {
        width: calc((100% / 4) - 10px);
    }
}

@media screen and (max-width: 600px) {
    main .main_nav{
        width: 50px;
    }
    
    main #content{
        width: calc(100% - 230px);
    }

    .main_nav .playlist ,span , .j_doe {
        display: none;
    }  

    #small_logo{
        display: block;
        width: 25px;
        height: 25px;
    }

    #big_logo{
        display: none;
    }
}

